<template>
  <div>
      <header class="header-style-1"> 
  
  <!-- ============================================== TOP MENU ============================================== -->
  <div class="top-bar animate-dropdown">
    <div class="container">
      <div class="header-top-inner">
        <div class="cnt-account">
          <ul class="list-unstyled">
            <li v-if="this.user !== null"><a href="/myaccount"><i class="icon fa fa-user"></i>My Account</a></li>
            <li><a href="/mycart"><i class="icon fa fa-shopping-cart"></i>My Cart</a></li>
            <li><a href="/checkout"><i class="icon fa fa-check"></i>Checkout</a></li>
            <li v-if="this.user === undefined || this.user === null"><a href="/login"><i class="icon fa fa-lock"></i>Login</a></li>
          </ul>
        </div>
        <!-- /.cnt-account -->
      
        <div class="clearfix"></div>
      </div>
      <!-- /.header-top-inner --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.header-top --> 
  <!-- ============================================== TOP MENU : END ============================================== -->
  <div class="main-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 logo-holder"> 
          <!-- ============================================================= LOGO ============================================================= -->
          <a href="/" class="logo" style="margin-bottom: 15px;">
                <span style="color: white; font-size: 28px; font-weight: bold;">Gadget</span>
                <span style="color: #fdd922; font-size: 28px; font-weight: bold;">Mart</span>
          </a>
          <!-- /.logo --> 
          <!-- ============================================================= LOGO : END ============================================================= --> </div>
        <!-- /.logo-holder -->
        
        <div class="col-xs-12 col-sm-12 col-md-6 top-search-holder"> 
          <!-- /.contact-row --> 
          <!-- ============================================================= SEARCH AREA ============================================================= -->
          <div class="search-area">
            <form>
                <input class="search-field" placeholder="Search here..." />
                <a class="search-button" href="#" ></a> 
            </form>
          </div>
          <!-- /.search-area --> 
          <!-- ============================================================= SEARCH AREA : END ============================================================= --> </div>
        <!-- /.top-search-holder -->
        
        <div class="col-xs-12 col-sm-12 col-md-3 animate-dropdown top-cart-row"> 
          <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
          
          <div class="dropdown dropdown-cart"> <a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
            <div class="items-cart-inner">
              <div class="basket"> <i class="glyphicon glyphicon-shopping-cart"></i> </div>
              <div class="basket-item-count"><span class="count">{{cartList.length === 0 ? 0 : cartList.length}}</span></div>
              <div class="total-price-basket"> <span class="lbl">cart -</span> <span class="total-price"> <span class="sign">Rs: </span><span class="value">{{subTotal}}</span> </span> </div>
            </div>
            </a>
            <ul class="dropdown-menu" v-if="cartList.length  !== 0">
                <li v-for="(cart,index) in cartList" v-bind:key="cart.product.id">
                    <div class="cart-item product-summary">
                      <div class="row">
                        <div class="col-xs-4">
                          <div class="image">
                            <a href="#"><img v-bind:src="cart.product.image" alt=""/></a>
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <h3 class="name">
                           {{cart.product.name}}
                          </h3>
                          <div class="price">{{cart.qty}} x {{cart.product.price - (cart.product.price / 100 * cart.product.discount)}}</div>
                        </div>
                        <div class="col-xs-1 action">
                          <a href="#" @click="deleteCartItem(index)"><i class="fa fa-trash"></i></a>
                        </div>
                      </div>
                    </div>
                    <!-- /.cart-item -->
                    
                    <hr />
                  </li>
                  <li>
                    <div class="clearfix"></div>
                    <hr />

                    <div class="clearfix cart-total">
                      <div class="pull-right">
                        <span class="text">Sub Total :</span
                        ><span class="price">{{this.subTotal}}</span>
                      </div>
                      <div class="clearfix"></div>

                      <a
                        href="/checkout"
                        class="btn btn-upper btn-primary btn-block m-t-20"
                        >Checkout</a
                      >
                    </div>
                    <!-- /.cart-total-->
                  </li>
            </ul>
            <!-- /.dropdown-menu--> 
          </div>
          <!-- /.dropdown-cart --> 
          
          <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= --> </div>
        <!-- /.top-cart-row --> 
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
    
  </div>
  <!-- /.main-header --> 
</header>

<!-- ============================================== HEADER : END ============================================== --> 

<!-- ============================================== HEADER : END ============================================== -->
<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><a href="#">Home</a></li>
        <li class='active'>{{this.$route.params.id}}</li>
      </ul>
    </div>
    <!-- /.breadcrumb-inner --> 
  </div>
  <!-- /.container --> 
</div>
<!-- /.breadcrumb -->
<div class="body-content outer-top-xs">
  <div class='container'>
    <div class='row'>
      <div class='col-md-3 sidebar'> 
        <!-- ================================== TOP NAVIGATION ================================== -->
        <div class="side-menu animate-dropdown outer-bottom-xs">
          <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Categories</div>
          <nav class="yamm megamenu-horizontal">
            <ul class="nav">
                <li class="dropdown menu-item" v-for="category in categoryList" v-bind:key="category.id"> 
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      {{category.name}}
                   </a>

                <ul class="dropdown-menu mega-menu">
                  <li class="yamm-content">
                    <div class="row">
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li v-for="subCategory in category.subCategories" v-bind:key="subCategory.id">
                              <a v-bind:href="'../subcategory/'+subCategory.name">{{subCategory.name}}</a>
                          </li>
                        </ul>
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row --> 
                  </li>
                  <!-- /.yamm-content -->
                </ul>
                <!-- /.dropdown-menu --> </li>
              <!-- /.menu-item -->            
            </ul>
            <!-- /.nav --> 
          </nav>
          <!-- /.megamenu-horizontal --> 
        </div>
        <!-- /.side-menu --> 
        <!-- ================================== TOP NAVIGATION : END ================================== -->
        <div class="sidebar-module-container">
          <div class="sidebar-filter"> 

          </div>
          <!-- /.sidebar-filter --> 
        </div>
        <!-- /.sidebar-module-container --> 
      </div>
      <!-- /.sidebar -->
      <div class='col-md-9'> 
        <!-- ========================================== SECTION – HERO ========================================= -->
     
        <div class="clearfix filters-container m-t-10">
          <div class="row">
            <div class="col col-sm-6 col-md-2">
              
            </div>
            <!-- /.col -->
            <div class="col col-sm-12 col-md-6">
              <div class="col col-sm-3 col-md-6 no-padding">
                
              </div>
              <!-- /.col -->
              <div class="col col-sm-3 col-md-6 no-padding">
                
              </div>
              <!-- /.col --> 
            </div>
            <!-- /.col -->
            <div class="col col-sm-6 col-md-4 text-right">
              
            </div>
            <!-- /.col --> 
          </div>
          <!-- /.row --> 
        </div>
        <div class="search-result-container ">
          <div id="myTabContent" class="tab-content category-list">
            <div class="tab-pane active " id="grid-container">
              <div class="category-product">
                <div class="row">
                  
                  <div v-for="product in productList" v-bind:key="product.id" class="col-sm-6 col-md-4 wow fadeInUp">
                    <div class="products">
                      <div class="product">
                        <div class="product-image">
                          <div class="image"> <a v-bind:href="'../productdetail/'+product.id+'/'+product.supplier"><img v-bind:src="product.image"></a> </div>
                          <!-- /.image -->
                        </div>
                        <!-- /.product-image -->
                        
                        <div class="product-info text-left">
                          <h3 class="name"><a v-bind:href="'../productdetail/'+product.id+'/'+product.supplier">{{product.name}}</a></h3>
                          <h3 class="name"><a v-bind:href="'../productdetail/'+product.id+'/'+product.supplier">Model No.{{product.modelNo}}</a></h3>
                          <div class="rating rateit-small"></div>
                          <div class="description"></div>
                          <div class="product-price"> 
                            <span class="price" v-if="product.discount !== 0"> {{product.price - (product.price / 100 * product.discount)}} </span> 
                            <span class="price" style="color:red;" v-else> {{product.price}} </span> 
                            <span class="price-before-discount" style="color:red;" v-if="product.discount !== 0">{{product.price}}</span> 
                          </div>
                          <!-- /.product-price --> 
                          
                        </div>
                      </div>
                      <!-- /.product --> 
                      
                    </div>
                    <!-- /.products --> 
                  </div>
                  <!-- /.item --> 

            
                </div>
                <!-- /.row --> 
              </div>
              <!-- /.category-product --> 
              
            </div>
            <!-- /.tab-pane -->
          
          </div>
          <!-- /.tab-content -->
          <div class="clearfix filters-container">
            <div class="text-right">
              
            </div>
            <!-- /.text-right --> 
            
          </div>
          <!-- /.filters-container --> 
          
        </div>
        <!-- /.search-result-container --> 
        
      </div>
      <!-- /.col --> 
    </div>
    <!-- /.row --> 
    <!-- ============================================== BRANDS CAROUSEL ============================================== -->
    <div id="brands-carousel" class="logo-slider wow fadeInUp">
      <div class="logo-slider-inner">
        <div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
          
        </div>
        <!-- /.owl-carousel #logo-slider --> 
      </div>
      <!-- /.logo-slider-inner --> 
      
    </div>
    <!-- /.logo-slider --> 
    <!-- ============================================== BRANDS CAROUSEL : END ============================================== --> </div>
  <!-- /.container --> 
  
</div>
<!-- /.body-content --> 

    <app-footer></app-footer>

  </div>
</template>

<script>
import CategoryService from "../service/category.service";
import SubCategoryService from "../service/subcategory.service";
import Footer from "../fragments/footer.vue";

export default {
  name: 'Categories',
  components: {
    "app-footer": Footer
  },
  data() {
    return {
      categoryList: [],
      productList: [],
      qty: 1,
      cartList: [],
      subTotal: 0,
      user: localStorage.getItem('user')
    };
  },
  methods: {
    getCategories() {
      CategoryService.getCategories().then(
        (response) => {
          this.categoryList = response.data;
        },
        (error) => {
          console.log(error.response.data.message);
        }
      );
    },
    getProducts(){
       SubCategoryService.getProducts(this.$route.params.id).then(
        (response) => {
          this.productList = response.data;
        },
        (error) => {
          console.log(error.response.data.message);
        }
      );
    },
    deleteCartItem(index) {
      this.cartList.splice(index, 1);

      this.subTotal = 0;

      this.cartList.forEach((value) => {
        this.subTotal = this.subTotal + ((value.product.price - (value.product.price / 100 * value.product.discount)) * value.qty);              
      });

      sessionStorage.setItem('cart', JSON.stringify(this.cartList))
    }
  },
  created(){
      this.cartList = JSON.parse(sessionStorage.getItem('cart'));

      if(this.cartList === null){
        this.cartList = [];
      }else{
          this.subTotal = 0;

          this.cartList.forEach((value) => {
            this.subTotal = this.subTotal + ((value.product.price - (value.product.price / 100 * value.product.discount)) * value.qty);              
          });
      }
  },
  mounted() {
      this.getCategories();
      this.getProducts();
  }
}
</script>

<style>

</style>