<template>
  <div>
    <header class="header-style-1">
      <!-- ============================================== TOP MENU ============================================== -->
      <div class="top-bar animate-dropdown">
        <div class="container">
          <div class="header-top-inner">
            <div class="cnt-account">
                <ul class="list-unstyled">
                    <li v-if="this.user !== undefined || this.user !== null"><a href="/myaccount"><i class="icon fa fa-user"></i>My Account</a></li>
                    <li><a href="/mycart"><i class="icon fa fa-shopping-cart"></i>My Cart</a></li>
                    <li><a href="/checkout"><i class="icon fa fa-check"></i>Checkout</a></li>
                    <li v-if="this.user === undefined || this.user === null"><a href="/login"><i class="icon fa fa-lock"></i>Login</a></li>
                </ul>
            </div>
            <!-- /.cnt-account -->
            <div class="clearfix"></div>
          </div>
          <!-- /.header-top-inner -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.header-top -->
      <!-- ============================================== TOP MENU : END ============================================== -->
      <div class="main-header">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
              <!-- ============================================================= LOGO ============================================================= -->
              <a href="/" class="logo" style="margin-bottom: 15px;">
                <span style="color: white; font-size: 28px; font-weight: bold;">Gadget</span>
                <span style="color: #fdd922; font-size: 28px; font-weight: bold;">Mart</span>
              </a>
              <!-- /.logo -->
              <!-- ============================================================= LOGO : END ============================================================= -->
            </div>
            <!-- /.logo-holder -->

            <div class="col-xs-12 col-sm-12 col-md-6 top-search-holder"> 
                <div class="search-area">
                    <form>
                        <input class="search-field" placeholder="Search here..." />
                        <a class="search-button" href="#" ></a> 
                    </form>
                </div>                
            </div>
            <!-- /.top-search-holder -->

            <div class="col-xs-12 col-sm-12 col-md-3 animate-dropdown top-cart-row">
              <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->

                <div class="dropdown dropdown-cart">
                <a
                  href="#"
                  class="dropdown-toggle lnk-cart"
                  data-toggle="dropdown"
                >
                  <div class="items-cart-inner">
                    <div class="basket">
                      <i class="glyphicon glyphicon-shopping-cart"></i>
                    </div>
                    <div class="basket-item-count">
                      <span class="count">{{cartList.length === 0 ? 0 : cartList.length}}</span>
                    </div>
                    <div class="total-price-basket">
                      <span class="lbl">cart -</span>
                      <span class="total-price">
                        <span class="sign">Rs: </span
                        ><span class="value">{{subTotal}}</span>
                      </span>
                    </div>
                  </div>
                </a>
                <ul class="dropdown-menu"  v-if="cartList.length  !== 0">
                  <li v-for="(cart,index) in cartList" v-bind:key="cart.product.id">
                    <div class="cart-item product-summary">
                      <div class="row">
                        <div class="col-xs-4">
                          <div class="image">
                            <a href="#"><img v-bind:src="cart.product.image" alt=""/></a>
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <h3 class="name">
                           {{cart.product.name}}
                          </h3>
                          <div class="price">{{cart.qty}} x {{cart.product.price - (cart.product.price / 100 * cart.product.discount)}}</div>
                        </div>
                        <div class="col-xs-1 action">
                          <a href="#" @click="deleteCartItem(index)"><i class="fa fa-trash"></i></a>
                        </div>
                      </div>
                    </div>
                    <!-- /.cart-item -->
                    
                    <hr />
                  </li>
                  <li>
                    <div class="clearfix"></div>
                    <hr />

                    <div class="clearfix cart-total">
                      <div class="pull-right">
                        <span class="text">Sub Total :</span
                        ><span class="price">{{this.subTotal}}</span>
                      </div>
                      <div class="clearfix"></div>

                      <a
                        href="/checkout"
                        class="btn btn-upper btn-primary btn-block m-t-20"
                        >Checkout</a
                      >
                    </div>
                    <!-- /.cart-total-->
                  </li>
                </ul>
                <!-- /.dropdown-menu-->
              </div>
              <!-- /.dropdown-cart -->

              <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= -->
            </div>
            <!-- /.top-cart-row -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.main-header -->
    </header>

    <!-- ============================================== HEADER : END ============================================== -->
    <div class="breadcrumb">
      <div class="container">
        <div class="breadcrumb-inner">
          <ul class="list-inline list-unstyled">
            <li><a href="/">Home</a></li>
            <li class="active">Checkout</li>
          </ul>
        </div>
        <!-- /.breadcrumb-inner -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.breadcrumb -->

    <div class="body-content">
      <div class="container">
        <div class="checkout-box">
          <div class="row">
            <div class="col-md-12">
              <div class="panel-group checkout-steps" id="accordion">
                <!-- checkout-step-02  -->
                <div class="panel panel-default checkout-step-02">
                  <div class="panel-heading">
                    <h4 class="unicase-checkout-title">
                      <a
                        data-toggle="collapse"
                        
                        data-parent="#accordion"
                        href="#collapseTwo">
                        <span>1</span>Billing Information
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>First name&nbsp;
                              <abbr class="required" title="required">*</abbr>
                            </label>

                            <input type="text" class="input-text form-control unicase-form-control"
                              v-model="firstname"/>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <label>Last name&nbsp;
                              <abbr class="required" title="required">*</abbr>
                            </label>

                            <input type="text" class="input-text form-control unicase-form-control"
                              v-model="lastname"/>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Address&nbsp;
                              <abbr class="required" title="required">*</abbr>
                            </label>

                            <textarea class="input-text form-control unicase-form-control" rows="3" v-model="address"></textarea>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>City&nbsp;
                              <abbr class="required" title="required">*</abbr>
                            </label>

                            <input type="text" class="input-text form-control unicase-form-control"
                              v-model="city"/>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Postal code&nbsp;
                              <abbr class="required" title="required">*</abbr>
                            </label>

                            <input type="number" class="input-text form-control unicase-form-control"
                              v-model="postalcode"/>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Phone&nbsp;
                              <abbr class="required" title="required">*</abbr>
                            </label>

                            <input type="number" class="input-text form-control unicase-form-control"
                              v-model="phone"/>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Email&nbsp;
                              <abbr class="required" title="required">*</abbr>
                            </label>

                            <input type="email" class="input-text form-control unicase-form-control"
                              v-model="email"/>
                          </div>
                        </div>
                      </div>                     
                    </div>
                  </div>
                </div>
                <!-- checkout-step-02  -->

                <!-- checkout-step-03  -->
                <div class="panel panel-default checkout-step-03">
                  <div class="panel-heading">
                    <h4 class="unicase-checkout-title">
                      <a
                        data-toggle="collapse"
                        class="collapsed"
                        data-parent="#accordion"
                        href="#collapseThree"
                      >
                        <span>2</span>Delivery Information
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>First name&nbsp;
                              <abbr class="required" title="required">*</abbr>
                            </label>

                            <input type="text" class="input-text form-control unicase-form-control"
                              v-model="deliveryfirstname"/>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <label>Last name&nbsp;
                              <abbr class="required" title="required">*</abbr>
                            </label>

                            <input type="text" class="input-text form-control unicase-form-control"
                              v-model="deliverylastname"/>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Address&nbsp;
                              <abbr class="required" title="required">*</abbr>
                            </label>

                            <textarea class="input-text form-control unicase-form-control" rows="3" v-model="deliveryaddress"></textarea>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>City&nbsp;
                              <abbr class="required" title="required">*</abbr>
                            </label>

                            <input type="text" class="input-text form-control unicase-form-control"
                              v-model="deliverycity"/>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Postal code&nbsp;
                              <abbr class="required" title="required">*</abbr>
                            </label>

                            <input type="number" class="input-text form-control unicase-form-control"
                              v-model="deliverypostalcode"/>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Phone&nbsp;
                              <abbr class="required" title="required">*</abbr>
                            </label>

                            <input type="number" class="input-text form-control unicase-form-control"
                              v-model="deliveryphone"/>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Email&nbsp;
                              <abbr class="required" title="required">*</abbr>
                            </label>

                            <input type="email" class="input-text form-control unicase-form-control"
                              v-model="deliveryemail"/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- checkout-step-03  -->

                <!-- checkout-step-04  -->
                <div class="panel panel-default checkout-step-04">
                  <div class="panel-heading">
                    <h4 class="unicase-checkout-title">
                      <a
                        data-toggle="collapse"
                        class="collapsed"
                        data-parent="#accordion"
                        href="#collapseFour"
                      >
                        <span>3</span>ADDITIONAL INFORMATION
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Order notes (optional)&nbsp;
                                <abbr class="required" title="required">*</abbr>
                              </label>

                              <textarea class="input-text form-control unicase-form-control" rows="3" placeholder="Notes about your order, e.g. special notes for delivery." v-model="notes"></textarea>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <!-- checkout-step-04  -->

                 <!-- checkout-step-06  -->
                <div class="panel panel-default checkout-step-05">
                  <div class="panel-heading">
                    <h4 class="unicase-checkout-title">
                      <a
                        data-toggle="collapse"
                        class="collapsed"
                        data-parent="#accordion"
                        href="#collapseSix"
                      >
                        <span>4</span>Order Review
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="shop_table woocommerce-checkout-review-order-table table">
                          <thead>
                            <tr>
                              <th class="cart-romove item">Remove</th>
                              <th class="cart-description item">Image</th>
                              <th class="cart-product-name item">Product</th>
                              <th class="cart-sub-total item">Price</th>
                              <th class="cart-qty item">Quantity</th>
                              <th class="cart-total last-item">Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-for="(cart,index) in cartList" v-bind:key="cart.product.id" class="woocommerce-cart-form__cart-item cart_item">

                              <td class="romove-item">
                                <a href="#" @click="deleteCartItem(index)" class="remove" aria-label="Remove this item">
                                  <i class="fa fa-trash-o"></i>
                                </a>				
                              </td>

                              <td class="cart-image">
                                <a href="#">
                                  <img width="100" height="100" v-bind:src="cart.product.image" class="attachment-100x100 size-100x100" loading="lazy" />
                                </a>					
                              </td>

                              <td class="cart-product-name-info" data-title="Product">
                                <h4 class='cart-product-description'>
                                  <a href="#">{{cart.product.name}}</a>
                                </h4>
                              </td>

                              <td class="cart-product-sub-total" data-title="Price">
                                <span class="woocs_special_price_code">
                                  <span class="woocommerce-Price-amount amount">
                                    <bdi>{{cart.product.price - (cart.product.price / 100 * cart.product.discount)}}</bdi>
                                  </span>
                                </span>
                              </td>

                              <td class="cart-product-quantity" data-title="Quantity">
                                <span class="woocs_special_price_code">
                                  <span class="woocommerce-Price-amount amount">
                                    <bdi>{{cart.qty}}</bdi>
                                  </span>
                                </span>
                              </td>

                              <td class="cart-product-grand-total" data-title="Total">
                                <span class="woocs_special_price_code" >
                                  <span class="woocommerce-Price-amount amount">
                                    <bdi>{{(cart.product.price - (cart.product.price / 100 * cart.product.discount)) * cart.qty}}</bdi>
                                  </span>
                                </span>
                              </td>
                            </tr>
                          </tbody>

                          <tfoot>
                            <tr class="cart-subtotal">
                              <th>Subtotal</th>
                              <td>
                                <span class="woocs_special_price_code">
                                  <span class="woocommerce-Price-amount amount">
                                    <bdi>{{this.subTotal}}</bdi>
                                  </span>
                                </span>
                              </td>
                            </tr>								
                            
                            <tr class="order-total">
                              <th>Total</th>
                              <td>
                                <strong>
                                  <span class="woocs_special_price_code" >
                                    <span class="woocommerce-Price-amount amount">
                                      <bdi>{{this.subTotal}}</bdi>
                                    </span>
                                  </span>
                                </strong> 
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                    </div>
                  </div>
                </div>
                <!-- checkout-step-06  -->

                <!-- checkout-step-05  -->
                <div class="panel panel-default checkout-step-05">
                  <div class="panel-heading">
                    <h4 class="unicase-checkout-title">
                      <a
                        data-toggle="collapse"
                        class="collapsed"
                        data-parent="#accordion"
                        href="#collapseFive"
                      >
                        <span>5</span>Payment Information
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="col-md-12"> 
                          <div class="radio radio-checkout-unicase">
                            <input type="radio" class="input-radio" name="method" value="cashondelivery" v-model="paymentmethod"/>
                            <label>Cash on delivery</label>
                          </div>
                        </div>

                        <div class="col-md-12"> 
                          <div class="radio radio-checkout-unicase">
                            <input type="radio" class="input-radio" name="method" v-model="paymentmethod" value="credit"/>
                            <label>Credit Card</label>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6"> 
                            <div class="form-group">
                              <label>Name</label>

                              <input type="text" class="input-text form-control unicase-form-control"
                                v-model="holdername" placeholder="John Doe"/>
                            </div>
                          </div>

                          <div class="col-md-6"> 
                          </div>    
                        </div>

                        <div class="row">
                            <div class="col-md-6"> 
                              <div class="form-group">
                                <label>Card Number</label>

                                <input type="text" class="input-text form-control unicase-form-control"
                                  v-model="cardnumber" placeholder="0000 0000 0000 0000"/>
                              </div>
                            </div>

                            <div class="col-md-6"> 
                            </div>  
                        </div>

                        <div class="row">
                            <div class="col-md-3"> 
                              <div class="form-group">
                                <label>Expiry Date</label>

                                <input type="text" class="input-text form-control unicase-form-control" placeholder="MM/YY"
                                  v-model="expirydate"/>
                              </div>
                            </div>

                            <div class="col-md-3"> 
                              <div class="form-group">
                                <label>CVV</label>

                                <input type="password" class="input-text form-control unicase-form-control"
                                  v-model="cvvcode" placeholder="000"/>
                              </div>
                            </div>

                            <div class="col-md-6"> 
                            </div>  
                        </div>

                        <div style="height:10px;"></div>
                        
                        <button class="btn-upper btn btn-primary" @click="addOrder()">Complete Order</button>
                    </div>
                  </div>
                </div>
                <!-- checkout-step-05  -->
              </div>
              <!-- /.checkout-steps -->
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.checkout-box -->
        <!-- ============================================== BRANDS CAROUSEL ============================================== -->
        <div id="brands-carousel" class="logo-slider wow fadeInUp">
          
        </div>
        <!-- /.logo-slider -->
        <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.body-content -->
    
    <app-footer></app-footer>  

  </div>
</template>

<script>
import Footer from "../fragments/footer.vue";
import OrderService from "../service/order.service";

export default {
  name: "Checkout",
  components: {
    "app-footer": Footer,
  },
  data() {
    return {
      firstname: JSON.parse(localStorage.getItem('user')).name,
      lastname: "",
      address: JSON.parse(localStorage.getItem('user')).address,
      city: "",
      postalcode: "",
      phone: JSON.parse(localStorage.getItem('user')).contact,
      email: JSON.parse(localStorage.getItem('user')).email,
      deliveryfirstname: "",
      deliverylastname: "",
      deliveryaddress: "",
      deliverycity: "",
      deliverypostalcode: "",
      deliveryphone: "",
      deliveryemail: "",
      notes: "",
      paymentmethod: "cashondelivery",
      holdername: "",
      cardnumber: "",
      expirydate: "",
      cvvcode: "",
      qty: 1,
      cartList: [],
      subTotal: 0,
      orderProducts:[],
      user: JSON.parse(localStorage.getItem("user")),
    };
  },
  methods: {
    deleteCartItem(index) {
      this.cartList.splice(index, 1);

      this.subTotal = 0;

      this.cartList.forEach((value) => {
        this.subTotal =
          this.subTotal +
          (value.product.price -
            (value.product.price / 100) * value.product.discount) *
            value.qty;
      });

      sessionStorage.setItem("cart", JSON.stringify(this.cartList));
    },
    addOrder(){

        this.cartList.forEach((value, index) => {
          console.log(index);
          let orderProductDto = {
              "productId" : value.product.id,
              "supplierId" : value.supplier,
              "qty" : value.qty,
              "unitPrice" : value.product.price,
              "discount" : value.product.discount
          }

          this.orderProducts.push(orderProductDto);
        });

        let paymentDto = {
            "paymentMethod" : this.paymentmethod,
            "amount" : this.subTotal,
            "cardOwner" : this.holdername,
            "cardNumber" : this.cardnumber,
            "expiryDate" : this.expirydate,
            "cvvCode" : this.cvvcode
        }
        
        let orderDto = {
            "email" : this.email,
            "customerId" : this.user.id,
            "billingFirstName" : this.firstname,
            "billingLastName" : this.lastname,
            "billingAddress" : this.address,
            "billingCity" : this.city,
            "billingPostalCode" : this.postalcode,
            "billingPhoneNumber" : this.phone,
            "billingEmail" : this.email,
            "deliveryFirstName" : this.deliveryfirstname,
            "deliveryLastName" : this.deliverylastname,
            "deliveryAddress" : this.deliveryaddress,
            "deliveryCity" : this.deliverycity,
            "deliveryPostalCode" : this.deliverypostalcode,
            "deliveryPhoneNumber" : this.deliveryphone,
            "deliveryEmail" : this.deliveryemail,
            "notes" : this.notes,
            "amount" : this.subTotal,
            "products": this.orderProducts,
            "payment": paymentDto
        }

        OrderService.saveOrder(orderDto).then(response => {
          if (response.status === 201) {
            alert("Order save successfully");
            this.cartList = [];
            sessionStorage.setItem('cart', []) 
            location.replace('/');
          }else{
            alert("Order added failed");
          }
        },
        error => {
          if(error.response.status == 500){
              alert("Order added failed");
          }else{
              alert("Order added failed");
          }          
        }
      );
    }
  },
  created() {
    if(this.user == null){
      this.$router.push('login')
    }

    this.cartList = JSON.parse(sessionStorage.getItem("cart"));

    if (this.cartList === null) {
      this.cartList = [];
    } else {
      this.subTotal = 0;

      this.cartList.forEach((value) => {
        this.subTotal =
          this.subTotal +
          (value.product.price -
            (value.product.price / 100) * value.product.discount) *
            value.qty;
      });
    }
  },
};
</script>

<style>
</style>
