<template>
  <div>
    <header class="header-style-1"> 
  
  <!-- ============================================== TOP MENU ============================================== -->
  <div class="top-bar animate-dropdown">
    <div class="container">
      <div class="header-top-inner">
        <div class="cnt-account">
          <ul class="list-unstyled">
            <li v-if="this.user !== null"><a href="/myaccount"><i class="icon fa fa-user"></i>My Account</a></li>
            <li><a href="/mycart"><i class="icon fa fa-shopping-cart"></i>My Cart</a></li>
            <li><a href="/checkout"><i class="icon fa fa-check"></i>Checkout</a></li>
            <li v-if="this.user === undefined || this.user === null"><a href="/login"><i class="icon fa fa-lock"></i>Login</a></li>
          </ul>
        </div>
        <!-- /.cnt-account -->
        
        <div class="clearfix"></div>
      </div>
      <!-- /.header-top-inner --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.header-top --> 
  <!-- ============================================== TOP MENU : END ============================================== -->
  <div class="main-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 logo-holder"> 
          <!-- ============================================================= LOGO ============================================================= -->
          <a href="/" class="logo" style="margin-bottom: 15px;">
                <span style="color: white; font-size: 28px; font-weight: bold;">Gadget</span>
                <span style="color: #fdd922; font-size: 28px; font-weight: bold;">Mart</span>
          </a>
          <!-- /.logo --> 
          <!-- ============================================================= LOGO : END ============================================================= --> </div>
        <!-- /.logo-holder -->
        
        <div class="col-xs-12 col-sm-12 col-md-6 top-search-holder"> 
          <!-- /.contact-row --> 
          <!-- ============================================================= SEARCH AREA ============================================================= -->
          <div class="search-area">
            <form>
                <input class="search-field" placeholder="Search here..." />
                <a class="search-button" href="#" ></a> 
            </form>
          </div>
          <!-- /.search-area --> 
          <!-- ============================================================= SEARCH AREA : END ============================================================= --> </div>
        <!-- /.top-search-holder -->
        
        <div class="col-xs-12 col-sm-12 col-md-3 animate-dropdown top-cart-row"> 
          <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
          
          <div class="dropdown dropdown-cart">
                <a
                  href="#"
                  class="dropdown-toggle lnk-cart"
                  data-toggle="dropdown"
                >
                  <div class="items-cart-inner">
                    <div class="basket">
                      <i class="glyphicon glyphicon-shopping-cart"></i>
                    </div>
                    <div class="basket-item-count">
                      <span class="count">{{cartList.length === 0 ? 0 : cartList.length}}</span>
                    </div>
                    <div class="total-price-basket">
                      <span class="lbl">cart -</span>
                      <span class="total-price">
                        <span class="sign">Rs: </span
                        ><span class="value">{{subTotal}}</span>
                      </span>
                    </div>
                  </div>
                </a>
                <ul class="dropdown-menu"  v-if="cartList.length  !== 0">
                  <li v-for="(cart,index) in cartList" v-bind:key="cart.product.id">
                    <div class="cart-item product-summary">
                      <div class="row">
                        <div class="col-xs-4">
                          <div class="image">
                            <a href="#"><img v-bind:src="cart.product.image" alt=""/></a>
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <h3 class="name">
                           {{cart.product.name}}
                          </h3>
                          <div class="price">{{cart.qty}} x {{cart.product.price - (cart.product.price / 100 * cart.product.discount)}}</div>
                        </div>
                        <div class="col-xs-1 action">
                          <a href="#" @click="deleteCartItem(index)"><i class="fa fa-trash"></i></a>
                        </div>
                      </div>
                    </div>
                    <!-- /.cart-item -->
                    
                    <hr />
                  </li>
                  <li>
                    <div class="clearfix"></div>
                    <hr />

                    <div class="clearfix cart-total">
                      <div class="pull-right">
                        <span class="text">Sub Total :</span
                        ><span class="price">{{this.subTotal}}</span>
                      </div>
                      <div class="clearfix"></div>

                      <a
                        href="../checkout"
                        class="btn btn-upper btn-primary btn-block m-t-20"
                        >Checkout</a
                      >
                    </div>
                    <!-- /.cart-total-->
                  </li>
                </ul>
                <!-- /.dropdown-menu-->
              </div>
              <!-- /.dropdown-cart -->
          
          <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= --> </div>
        <!-- /.top-cart-row --> 
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
    
  </div>
  <!-- /.main-header --> 
</header>

<!-- ============================================== HEADER : END ============================================== -->

<div class="body-content outer-top-xs" id="top-banner-and-menu">
  <div class="container">
    <div class="row"> 
      <!-- ============================================== SIDEBAR ============================================== -->
      <div class="col-xs-12 col-sm-12 col-md-3 sidebar"> 
        
        <!-- ================================== TOP NAVIGATION ================================== -->
        <div class="side-menu animate-dropdown outer-bottom-xs">
          <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Categories</div>
          <nav class="yamm megamenu-horizontal">
            <ul class="nav">
                
              <li class="dropdown menu-item" v-for="category in categoryList" v-bind:key="category.id"> 
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      {{category.name}}
                   </a>

                <ul class="dropdown-menu mega-menu">
                  <li class="yamm-content">
                    <div class="row">
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li v-for="subCategory in category.subCategories" v-bind:key="subCategory.id">
                              <a v-bind:href="'../subcategory/'+subCategory.name">{{subCategory.name}}</a>
                          </li>
                        </ul>
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row --> 
                  </li>
                  <!-- /.yamm-content -->
                </ul>
                <!-- /.dropdown-menu --> </li>
              <!-- /.menu-item -->              
            </ul>
            <!-- /.nav --> 
          </nav>
          <!-- /.megamenu-horizontal --> 
        </div>
        <!-- /.side-menu --> 
        <!-- ================================== TOP NAVIGATION : END ================================== --> 
               
        <!--<div class="home-banner"> <img src="assets/images/banners/LHS-banner.jpg" alt="Image"> </div>-->
      </div>
      <!-- /.sidemenu-holder --> 
      <!-- ============================================== SIDEBAR : END ============================================== --> 
      
      <!-- ============================================== CONTENT ============================================== -->
      <div class="col-xs-12 col-sm-12 col-md-9 homebanner-holder"> 
        <!-- ========================================== SECTION – HERO ========================================= -->
        
        <div id="hero">
          <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
            <div class="item">
              <img src="assets/images/sliders/1.png" width="100%"/>
            </div>
            <!-- /.item -->
            
            <div class="item">
              <img src="assets/images/sliders/2.jpg" width="100%"/>
            </div>
            <!-- /.item -->

            <div class="item">
              <img src="assets/images/sliders/3.jpg" width="100%"/>
            </div>
            <!-- /.item -->

             <div class="item">
              <img src="assets/images/sliders/4.webp" width="100%"/>
            </div>
            <!-- /.item -->
            
          </div>
          <!-- /.owl-carousel --> 
        </div>
        
        <!-- ========================================= SECTION – HERO : END ========================================= --> 
        <!--<div style="height: 40px;"></div> -->
        <!-- ============================================== WIDE PRODUCTS ============================================== -->
        <!--<div class="wide-banners wow fadeInUp outer-bottom-xs">
          <div class="row">
            <div class="col-md-7 col-sm-7">
              <div class="wide-banner cnt-strip">
                <div class="image"> <img class="img-responsive" src="assets/images/banners/home-banner1.jpg" alt=""> </div>
              </div>
              
            </div>
            
            <div class="col-md-5 col-sm-5">
              <div class="wide-banner cnt-strip">
                <div class="image"> <img class="img-responsive" src="assets/images/banners/home-banner2.jpg" alt=""> </div>
              </div>
              
            </div>
            
          </div>
        
        </div> --> 
        
        <!-- ============================================== WIDE PRODUCTS : END ============================================== --> 
        
      </div>
      <!-- /.homebanner-holder --> 
      <!-- ============================================== CONTENT : END ============================================== --> 
    </div>
    <!-- /.row --> 

    <div style="height: 15px;"></div>
        
    <!-- ============================================== FEATURED PRODUCTS ============================================== -->
        
     <section v-for="categoryProduct in categoryProductList" v-bind:key="categoryProduct.category.id" class="section featured-product wow fadeInUp">
          <h3 class="section-title">{{categoryProduct.category.name}}</h3>
          <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs" style="display: block; height: 340px;">
            <div class="item item-carousel col-md-3" v-for="product in categoryProduct.products" v-bind:key="product.id">
              <div class="products">
                <div class="product">
                  <div class="product-image">
                    <div class="image"> <a v-bind:href="'../productdetail/'+product.id+'/'+product.supplier"><img v-bind:src="product.image" alt=""></a> </div>
                    <!-- /.image -->
                  </div>
                  <!-- /.product-image -->
                  
                  <div class="product-info text-left">
                    <h3 class="name" style="font-weight:bold;"><a v-bind:href="'../productdetail/'+product.id+'/'+product.supplier">{{product.name}}</a></h3>
                    <h3 class="name"><a v-bind:href="'../productdetail/'+product.id+'/'+product.supplier">Model No.{{product.modelNo}}</a></h3>
                    <div class="rating rateit-small"></div>
                    <div class="description"></div>
                    <div class="product-price"> 
                      <span class="price" style="color:red;"> Rs.{{product.price - (product.price / 100 * product.discount)}} </span> 
                      <span class="price-before-discount" v-if="product.discount !== 0">Rs.{{product.price}}</span> 
                    </div>
                    <!-- /.product-price --> 
                    
                  </div>
                  <!-- /.product-info -->
                </div>
                <!-- /.product --> 
                
              </div>
              <!-- /.products --> 
            </div>
            <!-- /.item -->
          </div>
          <!-- /.home-owl-carousel --> 
        </section>

    <!-- ============================================== FEATURED PRODUCTS : END ============================================== --> 
    
     </div>
  <!-- /.container --> 
</div>
<!-- /#top-banner-and-menu --> 

      <app-footer></app-footer>

  </div>
</template>

<script>
import CategoryService from "../service/category.service";
import ProductService from "../service/product.service";
import Footer from "../fragments/footer.vue";

export default {
  name: 'Home',
   components: {
    "app-footer": Footer
  },
  data() {
    return {
      categoryList: [],
      categoryProductList: [],
      qty: 1,
      cartList: [],
      subTotal: 0,
      user: localStorage.getItem('user')
    };
  },
  methods: {
    getCategories() {
      CategoryService.getCategories().then(
        (response) => {
          this.categoryList = response.data;
        },
        (error) => {
          console.log(error.response.data.message);
        }
      );
    },
    getProducts() {
      ProductService.getProductByCategory().then(
        (response) => {
          this.categoryProductList = response.data;
        },
        (error) => {
          console.log(error.response.data.message);
        }
      );
    },
    deleteCartItem(index) {
      this.cartList.splice(index, 1);

      this.subTotal = 0;

      this.cartList.forEach((value) => {
        this.subTotal = this.subTotal + ((value.product.price - (value.product.price / 100 * value.product.discount)) * value.qty);              
      });

      sessionStorage.setItem('cart', JSON.stringify(this.cartList))
    }
  },
  mounted() {
       this.getCategories();
       this.getProducts();
  },
  created(){
      this.cartList = JSON.parse(sessionStorage.getItem('cart'));

      if(this.cartList === null){
        this.cartList = [];
      }else{
          this.subTotal = 0;

          this.cartList.forEach((value) => {
            this.subTotal = this.subTotal + ((value.product.price - (value.product.price / 100 * value.product.discount)) * value.qty);              
          });
      }
  }
}
</script>

<style>

</style>