<template>
  <div>
    <!-- ============================================== HEADER ============================================== -->
    <header class="header-style-1">
      <!-- ============================================== TOP MENU ============================================== -->
      <div class="top-bar animate-dropdown">
        <div class="container">
          <div class="header-top-inner">
            <div class="cnt-account">
              <ul class="list-unstyled">
                <li v-if="this.user !== null">
                  <a href="/myaccount"><i class="icon fa fa-user"></i>My Account</a>
                </li>
                <li>
                  <a href="/mycart"
                    ><i class="icon fa fa-shopping-cart"></i>My Cart</a
                  >
                </li>
                <li>
                  <a href="/checkout"><i class="icon fa fa-check"></i>Checkout</a>
                </li>
                <li v-if="this.user === undefined || this.user === null">
                  <a href="/login"><i class="icon fa fa-lock"></i>Login</a>
                </li>
              </ul>
            </div>
            <!-- /.cnt-account -->

            <div class="clearfix"></div>
          </div>
          <!-- /.header-top-inner -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.header-top -->
      <!-- ============================================== TOP MENU : END ============================================== -->
      <div class="main-header">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
              <!-- ============================================================= LOGO ============================================================= -->
              <div class="logo" style="margin-bottom: 15px;">
                <span style="color: white; font-size: 28px; font-weight: bold;">Gadget</span>
                <span style="color: #fdd922; font-size: 28px; font-weight: bold;">Mart</span>
              </div>
              <!-- /.logo -->
              <!-- ============================================================= LOGO : END ============================================================= -->
            </div>
            <!-- /.logo-holder -->

            <div class="col-xs-12 col-sm-12 col-md-7 top-search-holder"> 
              <!-- /.contact-row -->
              <!-- ============================================================= SEARCH AREA ============================================================= -->
               <div class="search-area">
                    <form>
                        <input class="search-field" placeholder="Search here..." />
                        <a class="search-button" href="#" ></a> 
                    </form>
                </div>
              <!-- /.search-area -->
              <!-- ============================================================= SEARCH AREA : END ============================================================= -->
            </div>
            <!-- /.top-search-holder -->

            <div
              class="col-xs-12 col-sm-12 col-md-2 animate-dropdown top-cart-row"
            >
              <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->

              <div class="dropdown dropdown-cart">
                <a
                  href="#"
                  class="dropdown-toggle lnk-cart"
                  data-toggle="dropdown"
                >
                  <div class="items-cart-inner">
                    <div class="basket">
                      <i class="glyphicon glyphicon-shopping-cart"></i>
                    </div>
                    <div class="basket-item-count">
                      <span class="count">{{cartList.length === 0 ? 0 : cartList.length}}</span>
                    </div>
                    <div class="total-price-basket">
                      <span class="lbl">cart -</span>
                      <span class="total-price">
                        <span class="sign">Rs: </span
                        ><span class="value">{{subTotal}}</span>
                      </span>
                    </div>
                  </div>
                </a>
                <ul class="dropdown-menu"  v-if="cartList.length  !== 0">
                  <li v-for="(cart,index) in cartList" v-bind:key="cart.product.id">
                    <div class="cart-item product-summary">
                      <div class="row">
                        <div class="col-xs-4">
                          <div class="image">
                            <a href="#"><img v-bind:src="cart.product.image" alt=""/></a>
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <h3 class="name">
                           {{cart.product.name}}
                          </h3>
                          <div class="price">{{cart.qty}} x {{cart.product.price - (cart.product.price / 100 * cart.product.discount)}}</div>
                        </div>
                        <div class="col-xs-1 action">
                          <a href="#" @click="deleteCartItem(index)"><i class="fa fa-trash"></i></a>
                        </div>
                      </div>
                    </div>
                    <!-- /.cart-item -->
                    
                    <hr />
                  </li>
                  <li>
                    <div class="clearfix"></div>
                    <hr />

                    <div class="clearfix cart-total">
                      <div class="pull-right">
                        <span class="text">Sub Total :</span
                        ><span class="price">{{this.subTotal}}</span>
                      </div>
                      <div class="clearfix"></div>

                      <a
                        href="../checkout"
                        class="btn btn-upper btn-primary btn-block m-t-20"
                        >Checkout</a
                      >
                    </div>
                    <!-- /.cart-total-->
                  </li>
                </ul>
                <!-- /.dropdown-menu-->
              </div>
              <!-- /.dropdown-cart -->

              <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= -->
            </div>
            <!-- /.top-cart-row -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.main-header -->
    </header>

    <!-- ============================================== HEADER : END ============================================== -->
    <div class="breadcrumb">
      <div class="container">
        <div class="breadcrumb-inner">
          <ul class="list-inline list-unstyled">
            <li><a href="/">Home</a></li>
            <li class="active">Login</li>
          </ul>
        </div>
        <!-- /.breadcrumb-inner -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.breadcrumb -->

    <div class="body-content">
      <div class="container">
        <div class="sign-in-page">
          <div class="row">
            <!-- Sign-in -->
            <div class="col-md-6 col-sm-6 sign-in">
              <h4 class="">Sign in</h4>
              <p class="">Hello, Welcome to your account.</p>
             
              <div class="register-form outer-top-xs">
                <div class="form-group">
                  <label class="info-title">Email Address <span>*</span></label>

                  <input type="email" class="form-control unicase-form-control text-input"
                     v-model="loginEmail"
                  />
                </div>
                <div class="form-group">
                  <label class="info-title">Password <span>*</span></label>

                  <input type="password" class="form-control unicase-form-control text-input"
                     v-model="loginPassword"
                  />
                </div>
                <div class="radio outer-xs">
                  <label>
                    <input type="radio">Remember me!
                  </label>

                  <a href="#" class="forgot-password pull-right">Forgot your Password?</a>
                </div>
                <button @click='login()' class="btn-upper btn btn-primary checkout-page-button">
                  Login
                </button>
              </div>
            </div>
            <!-- Sign-in -->

            <!-- create a new account -->
            <div class="col-md-6 col-sm-6 create-new-account">
              <h4 class="checkout-subtitle">Create a new account</h4>
              <p class="text title-tag-line">Create your new account.</p>
              <div class="register-form outer-top-xs">
                <div class="form-group">
                  <label class="info-title">Email Address <span>*</span></label>

                  <input type="email" class="form-control unicase-form-control text-input"
                    v-model="email"
                  />
                </div>
                <div class="form-group">
                  <label class="info-title">Name <span>*</span></label>

                  <input type="text" class="form-control unicase-form-control text-input"
                    v-model="name"
                  />
                </div>
                <div class="form-group">
                  <label class="info-title">Phone Number <span>*</span></label>

                  <input type="text" class="form-control unicase-form-control text-input"
                     v-model="contact"
                  />
                </div>
                <div class="form-group">
                  <label class="info-title">Password <span>*</span></label>

                  <input type="password" class="form-control unicase-form-control text-input"
                    v-model="password"
                  />
                </div>
              
                <button @click='signup()' class="btn-upper btn btn-primary checkout-page-button">
                  Sign Up
                </button>
              </div>
            </div>
            <!-- create a new account -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.sigin-in-->
        <!-- ============================================== BRANDS CAROUSEL ============================================== -->
        <div id="brands-carousel" class="logo-slider wow fadeInUp" style="margin-top:25px;">
          
        </div>
        <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.body-content -->

      <app-footer></app-footer>  

  </div>
</template>

<script>
import Footer from "../fragments/footer.vue";
import CustomerService from "../service/customer.service";

export default {
  name: "Login",
   components: {
    "app-footer": Footer
  },
   data() {
    return {
      email: "",
      name: "",
      contact: "",
      password: "",
      loginEmail: "",
      loginPassword: "",
      message: "",
      qty: 1,
      cartList: [],
      subTotal: 0,
      user: localStorage.getItem('user')
    };
  },
  methods: {
      signup(){
        let customerDto = {
            "email" : this.email,
            "name" : this.name,
            "contact" : this.contact,
            "password" : this.password
        }

        CustomerService.register(customerDto).then(response => {
          if (response.status === 201) {
            this.email =  "";
            this.name = "";
            this.contact = "";
            this.password = "";

            alert("Customer Registered Successfully");
          }else{
            alert("Customer Registered failed");
          }
        },
        error => {
          if(error.response.status == 500){
              alert("Customer already exists!");
          }else{
              alert("Customer Registered failed");
          }          
        }
      );
    },
    login(){
        let customerDto = {
            "email" : this.loginEmail,
            "password" : this.loginPassword
        }

        CustomerService.login(customerDto).then(response => {
            if (response.token) {
                localStorage.setItem('user', JSON.stringify(response));

                this.loginEmail =  "";
                this.loginPassword = "";

                location.replace("../");

                //this.$router.replace({ name: 'home'});
            }else{
                alert("Email or password incorrect!");
            }
        },
        error => {
          if(error.response.status == 500){
              alert("Email or password incorrect!");
          }else{
              alert("Email or password incorrect!");
          }          
        }
      );
    },
    deleteCartItem(index) {
      this.cartList.splice(index, 1);

      this.subTotal = 0;

      this.cartList.forEach((value) => {
        this.subTotal = this.subTotal + ((value.product.price - (value.product.price / 100 * value.product.discount)) * value.qty);              
      });

      sessionStorage.setItem('cart', JSON.stringify(this.cartList))
    }
  },
  created(){
      this.cartList = JSON.parse(sessionStorage.getItem('cart'));

      if(this.cartList === null){
        this.cartList = [];
      }else{
          this.subTotal = 0;

          this.cartList.forEach((value) => {
            this.subTotal = this.subTotal + ((value.product.price - (value.product.price / 100 * value.product.discount)) * value.qty);              
          });
      }
  }
};
</script>

<style>
</style>
