<template>
  <div>
    <header class="header-style-1">
      <!-- ============================================== TOP MENU ============================================== -->
      <div class="top-bar animate-dropdown">
        <div class="container">
          <div class="header-top-inner">
            <div class="cnt-account">
              <ul class="list-unstyled">
               <li v-if="this.user !== null">
                  <a href="/myaccount"><i class="icon fa fa-user"></i>My Account</a>
                </li>
                <li>
                  <a href="/mycart"><i class="icon fa fa-shopping-cart"></i>My Cart</a
                  >
                </li>
                <li>
                  <a href="/checkout"><i class="icon fa fa-check"></i>Checkout</a>
                </li>
                <li v-if="this.user === undefined || this.user === null">
                  <a href="/login"><i class="icon fa fa-lock"></i>Login</a>
                </li>
              </ul>
            </div>
            <!-- /.cnt-account -->

            <div class="clearfix"></div>
          </div>
          <!-- /.header-top-inner -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.header-top -->
      <!-- ============================================== TOP MENU : END ============================================== -->
      <div class="main-header">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
              <!-- ============================================================= LOGO ============================================================= -->
              <div class="logo" style="margin-bottom: 15px;">
                <span style="color: white; font-size: 28px; font-weight: bold;">Gadget</span>
                <span style="color: #fdd922; font-size: 28px; font-weight: bold;">Mart</span>
              </div>
              <!-- /.logo -->
              <!-- ============================================================= LOGO : END ============================================================= -->
            </div>
            <!-- /.logo-holder -->

            <div class="col-xs-12 col-sm-12 col-md-7 top-search-holder"> 
              <!-- /.contact-row -->
              <!-- ============================================================= SEARCH AREA ============================================================= -->
               <div class="search-area">
                    <form>
                        <input class="search-field" placeholder="Search here..." />
                        <a class="search-button" href="#" ></a> 
                    </form>
                </div>
              <!-- /.search-area -->
              <!-- ============================================================= SEARCH AREA : END ============================================================= -->
            </div>
            <!-- /.top-search-holder -->

            <div
              class="col-xs-12 col-sm-12 col-md-2 animate-dropdown top-cart-row"
            >
              <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->

                <div class="dropdown dropdown-cart">
                <a
                  href="#"
                  class="dropdown-toggle lnk-cart"
                  data-toggle="dropdown"
                >
                  <div class="items-cart-inner">
                    <div class="basket">
                      <i class="glyphicon glyphicon-shopping-cart"></i>
                    </div>
                    <div class="basket-item-count">
                      <span class="count">{{cartList.length === 0 ? 0 : cartList.length}}</span>
                    </div>
                    <div class="total-price-basket">
                      <span class="lbl">cart -</span>
                      <span class="total-price">
                        <span class="sign">Rs:</span
                        ><span class="value">{{subTotal}}</span>
                      </span>
                    </div>
                  </div>
                </a>
                <ul class="dropdown-menu"  v-if="cartList.length  !== 0">
                  <li v-for="(cart,index) in cartList" v-bind:key="cart.product.id">
                    <div class="cart-item product-summary">
                      <div class="row">
                        <div class="col-xs-4">
                          <div class="image">
                            <a href="#"><img v-bind:src="cart.product.image" alt=""/></a>
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <h3 class="name">
                           {{cart.product.name}}
                          </h3>
                          <div class="price">{{cart.qty}} x {{cart.product.price - (cart.product.price / 100 * cart.product.discount)}}</div>
                        </div>
                        <div class="col-xs-1 action">
                          <a href="#" @click="deleteCartItem(index)"><i class="fa fa-trash"></i></a>
                        </div>
                      </div>
                    </div>
                    <!-- /.cart-item -->
                    
                    <hr />
                  </li>
                  <li>
                    <div class="clearfix"></div>
                    <hr />

                    <div class="clearfix cart-total">
                      <div class="pull-right">
                        <span class="text">Sub Total :</span
                        ><span class="price">{{this.subTotal}}</span>
                      </div>
                      <div class="clearfix"></div>

                      <a
                        href="/checkout"
                        class="btn btn-upper btn-primary btn-block m-t-20"
                        >Checkout</a
                      >
                    </div>
                    <!-- /.cart-total-->
                  </li>
                </ul>
                <!-- /.dropdown-menu-->
              </div>
              <!-- /.dropdown-cart -->                

              <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= -->
            </div>
            <!-- /.top-cart-row -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.main-header -->
    </header>

    <!-- ============================================== HEADER : END ============================================== -->
    <div class="breadcrumb">
      <div class="container">
        <div class="breadcrumb-inner">
          <ul class="list-inline list-unstyled">
            <li><a href="/">Home</a></li>
            <li class="active">Shopping Cart</li>
          </ul>
        </div>
        <!-- /.breadcrumb-inner -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.breadcrumb -->

    <div class="body-content outer-top-xs">
      <div class="container">
        <div class="row">
          <div class="shopping-cart">
            <div class="shopping-cart-table">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="cart-romove item">Remove</th>
                      <th class="cart-description item">Image</th>
                      <th class="cart-product-name item">Product Name</th>
                      <th class="cart-qty item">Quantity</th>
                      <th class="cart-sub-total item">Subtotal</th>
                    </tr>
                  </thead>
                  <!-- /thead -->
                  <tfoot>
                    <tr>
                      <td colspan="7">
                        <div class="shopping-cart-btn">
                          <span class="">
                            <a href="/" class="btn btn-upper btn-primary outer-left-xs">Continue Shopping</a>
                          </span>
                        </div>
                        <!-- /.shopping-cart-btn -->
                      </td>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr v-for="(cart,index) in cartList" v-bind:key="cart.product.id">
                      <td class="romove-item">
                        <a href="#" @click="deleteCartItem(index)" title="cancel" class="icon"><i class="fa fa-trash-o"></i
                        ></a>
                      </td>
                      <td class="cart-image">
                        <a class="entry-thumbnail" href="#">
                          <img v-bind:src="cart.product.image" alt="" />
                        </a>
                      </td>

                      <td class="cart-product-name-info">
                        <h4 class="cart-product-description">
                          {{cart.product.name}}
                        </h4>
                      </td>
                    
                       <td class="cart-product-sub-total">
                        <span class="cart-sub-total-price">{{cart.qty}}</span>
                      </td>

                      <td class="cart-product-sub-total">
                        <span class="cart-sub-total-price">{{cart.qty * cart.product.price}}</span>
                      </td>
                    </tr>
                  </tbody>
                  <!-- /tbody -->
                </table>
                <!-- /table -->
              </div>
            </div>
            <!-- /.shopping-cart-table -->
            <div class="col-md-4 col-sm-12 estimate-ship-tax">
              
            </div>

            <div class="col-md-4 col-sm-12 estimate-ship-tax">
              
            </div>

            <div class="col-md-4 col-sm-12 cart-shopping-total">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      <div class="cart-sub-total">
                        Subtotal<span class="inner-left-md">{{subTotal}}</span>
                      </div>
                      <div class="cart-grand-total">
                        Total<span class="inner-left-md">{{subTotal}}</span>
                      </div>
                    </th>
                  </tr>
                </thead>
                <!-- /thead -->
                <tbody>
                  <tr>
                    <td>
                      <a href="/checkout" class="cart-checkout-btn pull-right">
                            <button class="btn btn-primary checkout-btn">PROCCED TO CHEKOUT</button>
                      </a>
                    </td>
                  </tr>
                </tbody>
                <!-- /tbody -->
              </table>
              <!-- /table -->
            </div>
            <!-- /.cart-shopping-total -->
          </div>
          <!-- /.shopping-cart -->
        </div>
        <!-- /.row -->
        <!-- ============================================== BRANDS CAROUSEL ============================================== -->
        <div id="brands-carousel" class="logo-slider wow fadeInUp">
          
        </div>
        <!-- /.logo-slider -->
        <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.body-content -->

    <app-footer></app-footer>
  </div>
</template>

<script>
import Footer from "../fragments/footer.vue";

export default {
  name: "MyCart",
  components: {
    "app-footer": Footer
  },
  data() {
    return {
      qty: 1,
      cartList: [],
      subTotal: 0,
      user: localStorage.getItem('user')
    };
  },
  methods: {
    deleteCartItem(index) {
      this.cartList.splice(index, 1);

      this.subTotal = 0;

      this.cartList.forEach((value) => {
        this.subTotal = this.subTotal + ((value.product.price - (value.product.price / 100 * value.product.discount)) * value.qty);              
      });

      sessionStorage.setItem('cart', JSON.stringify(this.cartList))
    }
  },
  created(){
      this.cartList = JSON.parse(sessionStorage.getItem('cart'));

      if(this.cartList === null){
        this.cartList = [];
      }else{
          this.subTotal = 0;

          this.cartList.forEach((value) => {
            this.subTotal = this.subTotal + ((value.product.price - (value.product.price / 100 * value.product.discount)) * value.qty);              
          });
      }
  }
};
</script>

<style>
</style>
