<template>
  <div>
    <header class="header-style-1">
      <!-- ============================================== TOP MENU ============================================== -->
      <div class="top-bar animate-dropdown">
        <div class="container">
          <div class="header-top-inner">
            <div class="cnt-account">
              <ul class="list-unstyled">
                <li v-if="this.user !== null"><a href="/myaccount"><i class="icon fa fa-user"></i>My Account</a></li>
                <li><a href="/mycart"><i class="icon fa fa-shopping-cart"></i>My Cart</a></li>
                <li><a href="/checkout"><i class="icon fa fa-check"></i>Checkout</a></li>
                <li v-if="this.user === undefined || this.user === null"><a href="/login"><i class="icon fa fa-lock"></i>Login</a></li>
              </ul>
            </div>
            <!-- /.cnt-account -->

            <div class="clearfix"></div>
          </div>
          <!-- /.header-top-inner -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.header-top -->
      <!-- ============================================== TOP MENU : END ============================================== -->
      <div class="main-header">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
              <!-- ============================================================= LOGO ============================================================= -->
              <a href="/" class="logo" style="margin-bottom: 15px;">
                <span style="color: white; font-size: 28px; font-weight: bold;">Gadget</span>
                <span style="color: #fdd922; font-size: 28px; font-weight: bold;">Mart</span>
              </a>
              <!-- /.logo -->
              <!-- ============================================================= LOGO : END ============================================================= -->
            </div>
            <!-- /.logo-holder -->

            <div class="col-xs-12 col-sm-12 col-md-6 top-search-holder"> 
              <!-- /.contact-row -->
              <!-- ============================================================= SEARCH AREA ============================================================= -->
              <div class="search-area">
                <form>
                    <input class="search-field" placeholder="Search here..." />
                    <a class="search-button" href="#" ></a> 
                </form>
            </div>
              <!-- /.search-area -->
              <!-- ============================================================= SEARCH AREA : END ============================================================= -->
            </div>
            <!-- /.top-search-holder -->

            <div
              class="col-xs-12 col-sm-12 col-md-3 animate-dropdown top-cart-row"
            >
              <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->

              <div class="dropdown dropdown-cart">
                <a
                  href="#"
                  class="dropdown-toggle lnk-cart"
                  data-toggle="dropdown"
                >
                  <div class="items-cart-inner">
                    <div class="basket">
                      <i class="glyphicon glyphicon-shopping-cart"></i>
                    </div>
                    <div class="basket-item-count">
                      <span class="count">{{cartList.length === 0 ? 0 : cartList.length}}</span>
                    </div>
                    <div class="total-price-basket">
                      <span class="lbl">cart -</span>
                      <span class="total-price">
                        <span class="sign">Rs: </span
                        ><span class="value">{{subTotal}}</span>
                      </span>
                    </div>
                  </div>
                </a>
                <ul class="dropdown-menu"  v-if="cartList.length  !== 0">
                  <li v-for="(cart,index) in cartList" v-bind:key="cart.product.id">
                    <div class="cart-item product-summary">
                      <div class="row">
                        <div class="col-xs-4">
                          <div class="image">
                            <a href="#"><img v-bind:src="cart.product.image"/></a>
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <h3 class="name">
                            {{cart.product.name}}
                          </h3>
                          <div class="price">{{cart.qty}} x {{cart.product.price - (cart.product.price / 100 * cart.product.discount)}}</div>
                        </div>
                        <div class="col-xs-1 action">
                          <a href="#" @click="deleteCartItem(index)"><i class="fa fa-trash"></i></a>
                        </div>
                      </div>
                    </div>
                    <!-- /.cart-item -->
                    
                    <hr />
                  </li>
                  <li>
                    <div class="clearfix"></div>
                    <hr />

                    <div class="clearfix cart-total">
                      <div class="pull-right">
                        <span class="text">Sub Total :</span
                        ><span class="price">{{this.subTotal}}</span>
                      </div>
                      <div class="clearfix"></div>

                      <a
                        href="/checkout"
                        class="btn btn-upper btn-primary btn-block m-t-20"
                        >Checkout</a
                      >
                    </div>
                    <!-- /.cart-total-->
                  </li>
                </ul>
                <!-- /.dropdown-menu-->
              </div>
              <!-- /.dropdown-cart -->

              <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= -->
            </div>
            <!-- /.top-cart-row -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.main-header -->
    </header>

    <!-- ============================================== HEADER : END ============================================== -->
    
    <div class="breadcrumb">
      <div class="container">
        <div class="breadcrumb-inner">
          <ul class="list-inline list-unstyled">
            <li><a href="/">Home</a></li>
            <li><a href="#">{{product.categoryName}}</a></li>
            <li class="active">{{product.name}}</li>
          </ul>
        </div>
        <!-- /.breadcrumb-inner -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.breadcrumb -->
    <div class="body-content outer-top-xs">
      <div class="container">
        <div class="row single-product">
          
          <div class="col-md-12">
            <div class="detail-block">
              <div class="row wow fadeInUp">
                <div class="col-xs-12 col-sm-6 col-md-5 gallery-holder">
                  <div
                    class="product-item-holder size-big single-product-gallery small-gallery"
                  >
                    <div id="owl-single-product" style="text-align:center;">
                      <div>
                          <img width="100%" v-bind:src="product.image"/>
                     
                      </div>
                      <!-- /.single-product-gallery-item -->
                    </div>
                    <!-- /.single-product-slider -->
                  </div>
                  <!-- /.single-product-gallery -->
                </div>
                <!-- /.gallery-holder -->
                <div class="col-sm-6 col-md-7 product-info-block">
                  <div class="product-info">
                    <h1 class="name">{{product.name}}</h1>

                    <div class="rating-reviews m-t-20">
                      <div class="row">
                      </div>
                      <!-- /.row -->
                    </div>
                    <!-- /.rating-reviews -->

                    <div class="stock-container info-container m-t-10">
                      <div class="row">
                        <div class="col-sm-2">
                          <div class="stock-box">
                            <span class="label">Availability :</span>
                          </div>
                        </div>
                        <div class="col-sm-9">
                          <div class="stock-box">
                            <span class="value" v-if="product.availability > 0">In Stock</span>
                            <span class="value" v-else>Out of Stock</span>
                          </div>
                        </div>
                      </div>
                      <!-- /.row -->
                    </div>
                    <!-- /.stock-container -->

                    <div class="description-container m-t-20">
                      {{product.description}}
                    </div>
                    <!-- /.description-container -->

                    <div class="price-container info-container m-t-20">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="price-box">
                             <span class="price" v-if="product.discount !== 0"> {{product.price - (product.price / 100 * product.discount)}} </span> 
                            <span class="price" v-else> {{product.price}} </span> 
                            <span class="price-strike" v-if="product.discount !== 0">{{product.price}}</span>
                          </div>
                        </div>

                        <div class="col-sm-6">
                          
                        </div>
                      </div>
                      <!-- /.row -->
                    </div>
                    <!-- /.price-container -->

                    <div class="quantity-container info-container">
                      <div class="row">
                        <div class="col-sm-2">
                          <span class="label">Qty :</span>
                        </div>

                        <div class="col-sm-2">
                          <div class="cart-quantity">
                            <div class="quant-input">
                              <div class="arrows">
                                <div class="arrow plus gradient">
                                  <span class="ir"
                                    ><i class="icon fa fa-sort-asc"></i
                                  ></span>
                                </div>
                                <div class="arrow minus gradient">
                                  <span class="ir"
                                    ><i class="icon fa fa-sort-desc"></i
                                  ></span>
                                </div>
                              </div>
                              <input type="text" v-model="qty" />
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-7">
                          <a href="#" class="btn btn-primary" @click='addCart()'
                            v-if="product.availability > 0">
                            <i class="fa fa-shopping-cart inner-right-vs"></i>
                            ADD TO CART
                          </a>
                        </div>
                      </div>
                      <!-- /.row -->
                    </div>
                    <!-- /.quantity-container -->
                  </div>
                  <!-- /.product-info -->
                </div>
                <!-- /.col-sm-7 -->
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.col -->
          <div class="clearfix"></div>
        </div>
        <!-- /.row -->
        <div style="height: 20px;"></div>

        <!-- ============================================== BRANDS CAROUSEL ============================================== -->
        <div id="brands-carousel" class="logo-slider wow fadeInUp">
          
        </div>
        <!-- /.logo-slider -->
        <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.body-content -->

    <app-footer></app-footer>

  </div>
</template>

<script>
import Footer from "../fragments/footer.vue";
import ProductService from "../service/product.service";

export default {
  name: "ProductDetail",
  components: {
    "app-footer": Footer
  },
  data() {
    return {
      product: '',
      qty: 1,
      cartList: [],
      subTotal: 0,
      user: localStorage.getItem('user')
    };
  },
  methods: {
    getProductDetail() {
      ProductService.getProductDetail(this.$route.params.id,this.$route.params.supplier).then(
        (response) => {
          this.product = response.data;
          console.log(response.data);
        },
        (error) => {
          console.log(error.response.data.message);
        }
      );
    },
    addCart(){
        let cartDto = {
            "supplier" : this.$route.params.supplier,
            "product" : this.product,
            "qty" : this.qty
        }

        this.cartList.push(cartDto);

        this.subTotal = 0;

        this.cartList.forEach((value) => {
          this.subTotal = this.subTotal + ((value.product.price - (value.product.price / 100 * value.product.discount)) * value.qty);              
        });

        sessionStorage.setItem('cart', JSON.stringify(this.cartList))
    },
    deleteCartItem(index) {
      this.cartList.splice(index, 1);

      this.subTotal = 0;

      this.cartList.forEach((value) => {
        this.subTotal = this.subTotal + ((value.product.price - (value.product.price / 100 * value.product.discount)) * value.qty);              
      });

      sessionStorage.setItem('cart', JSON.stringify(this.cartList))
    }
  },
  created(){
      this.cartList = JSON.parse(sessionStorage.getItem('cart'));

      if(this.cartList === null){
        this.cartList = [];
      }else{
          this.subTotal = 0;

          this.cartList.forEach((value) => {
            this.subTotal = this.subTotal + ((value.product.price - (value.product.price / 100 * value.product.discount)) * value.qty);              
          });
      }
  },
  mounted() {
      this.getProductDetail();
  },
};
</script>

<style>
</style>